<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrBoomRecordTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PrBoomRecordTool.Properties.Settings>
            <setting name="PrBoomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IwadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDemoName" serializeAs="String">
                <value />
            </setting>
            <setting name="Pwads" serializeAs="String">
                <value />
            </setting>
            <setting name="HasIwadEpisodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRespawn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNoMo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Episode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Complevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>3</value>
            </setting>
        </PrBoomRecordTool.Properties.Settings>
    </userSettings>
</configuration>